* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #000;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin: 0 auto;
  max-width: 80%;
}

.header-wrapper input {
  border: none;
  padding: 0.5rem;
  width: 20rem;
}
.main-name {
  color: #fff;
  font-size: 2rem;
}

.search-content {
  border: #a3a3a3;
  display: flex;
}

.search-content input{
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  width: 30%;
}

.search-content input:focus{
  width: 100%;
}

.searchButton {
  background-color: silver;
  border: none;
  cursor: pointer;
}

.auktion-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 90%;
  margin: 2rem auto;
}

.auktion-wrapper {
  width: 15%;
  margin: 1rem;
}

.auktion-wrapper h3{
  cursor: pointer;

}
