
{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
    },
    "extends": [
        "eslint:recommended",
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "quotes": ["warn", "double"],
        "no-console": ["off"],
        "no-unused-vars": ["warn"],
        "no-undef":  ["warn"],
        "semi": ["warn", "always"]
    }
}
